.letter-tile {
    width: 60px;
    height: 80px;
    margin: .25em;
    background-color: #13700a;
    border: 3px solid #222;
}

.has-letter {
    background-color: white;

    .letter {
        text-align: center;
        margin: 6px 0;
        color: #111;
        font-size: 60px;
    }
}